{
    "root": true,
    "rules": {
        'no-shadow': [2, {
            'builtinGlobals': true,
            'hoist': 'all',
            'allow': ['callback', 'include'],
        }],
    },
    "globals": {
        include: false
    },
    "extends": "adoyle-style"
}
